body {
    /* width: 100vw;
    height: 100vh; */
    background: -webkit-linear-gradient(to right, #1a2980, #26d0ce); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, indigo, blue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: #1a2980;fallback for old browsers */
}


* {
    /* color: white; */
    font-family: sans-serif;
}

a, p, h1, h2, h3, h4, h5 {
    color: white;
}

input{
    /* border-radius: 5pt; */
    /* border-color: blue; */
    padding: 15pt 15pt 15pt 15pt;
    text-align: center;
    width: 200px;
    height: auto;
    border: none;
    color: black;
    border-radius: 3pt;
}

.container {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: center;
}

button {
    height: auto;
    width: 10%;
    border: none;
    color: white;
    border-radius: 3pt;
    padding: 15pt 15pt 15pt 15pt;
    background-color: #2563EB;
}

#footer-left {
    position: fixed;
    bottom: 0;
}

#pop {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    color: black !important;
    padding: 5pt;
    margin-right: 5pt;
    margin-bottom: 5pt;
    border-radius: 5pt;
    width: 25%;
    font-family: sans-serif !important;
    /* visibility: none; */
}

.card-left {
    background-color: white;
    border-radius: 5pt;
    width: 150pt;
    height: 150pt;
    display: flex;
    justify-content: left;
}

.card-right {
    background-color: white;
    border-radius: 5pt;
    width: 150pt;
    height: 150pt;
    display: flex;
    justify-content: center;
    align-content: right;
}

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.white-btn {
    background-color: white;
}


/* #footer-right {
    margin: 0 auto;
} */